/* index.css
goalapp
*/

body {
	font-style: italic;
}

body {
	font-family: Lobster;
}

button {
	font-style: italic;
}

button {
	font-family: cursive;
}

body {
	background-color: rgb(0, 255, 255);
}

body {
	color: darkgreen;
}

button {
	color: darkblue;
}

button {
	background-color: yellow;
}
